html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  margin: 0;
  height: 100%;
}

.container {
  margin: auto;
  padding: 1em;
  width: 80%;
}

.destination-container {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}

.destination {
  background: #03a9f4;
  box-shadow: 0 1px 9px 0 rgba(0, 0, 0, 0.4);
  color: white;
  margin: 0.5em;
  min-height: 200px;
  flex: 0 1 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h2 {
  font-family: sans-serif;
  font-size: 2rem;
  margin: 0;
  transform: rotate(-45deg);
  text-shadow: 0 0 5px #01579b;
  transition: transform 0.5s;
}

.destination:hover h2 {
    transform: rotate(0deg);
}

#florida {
  background-color: #03a9f4;
}

#paris {
  background-color: #d32f2f;
}

#tokyo {
  background-color: #9575cd;
}